PORT=5000
MONGODB_URI=mongodb://localhost:27017/railway-tracking
JWT_SECRET=your_super_secret_jwt_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Email Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
FROM_NAME="Railway Tracking"
FROM_EMAIL="noreply@railwaytracking.com"

# Google OAuth
GOOGLE_CLIENT_ID=678871381424-a5u5pjgdjsdq1dntr9pb9run5n94onut.apps.googleusercontent.com
